<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar bg-light shadow-lg px-4">
        <h2>Crud Operation</h2>
        <button class="btn btn-primary px-2 text-capitalize rounded-0" data-bs-toggle="modal"
            data-bs-target="#record">create record</button>
    </div>

    <div class="modal fade" id="record">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="text-capitalize text-center">create a new record</h5>
                    <form>
                        <div class="mb-4">
                            <label>Fullname</label>
                            <input type="text" name="fullname" class="form-control" required>
                        </div>

                        <div class="mb-4">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>

                        <div class="mb-4">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary px-2 rounded-0">Create Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>